@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.height-transition {
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  overflow-y: hidden;
}
.height-transition-hidden {
  max-height: 0;
}
