.footer-wrapper {
    height: 20px;
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-copyright {
    color: rgba(255,255,255,.5);
    font-size: 11px;
    line-height: 20px;
    text-align: center;
  }
  