$white-color:#ffffff;
$light-gray: #f9f9f9;
$eycard-color:#ffe600;
$ey-light-yellow-color:#fff27f;
$dark:#333333;
$dark-gray:#212529;
$black:#000000;
$menu-max-width: 290px;
$header-max-height: 75px;
$ey-special-use-red: #f04c3e;
$ey-link-blue: #336699;
$ey-blue: #00a3ae;
$ey-purple: #91278f;
$ey-green: #2c973e;
$ey-lilac: #ac98db;
